.DS_Store
.vscode
.idea

# npm
node_modules
.pnpm-store/
.pnpm-debug.log

# yarn
.pnp.*
.yarn

# env
.env

# tests
test-results
playwright-report
cucumber-report
**/.features-gen/**/*.spec.js

.nx

build-archive.log
/browserstack.yml
/log
/allure-results